/* font-family: 'Poppins', sans-serif;

color:#323232 black
color: #e8e4e4 gris
color: #0e56cb bleu */

:root{
  --black: #323232;
  --grey: #e8e4e4;
  --blue: #0e56cb;
}
html{
  scroll-behavior: smooth;
}

body{
  background: var(--grey);
  /* background: linear-gradient(180deg, rgba(81,23,35,1) 0%, rgba(81,23,35,1) 0%, rgba(232,228,228,1) 0%, rgba(207,203,203,1) 100%); */
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1{
  font-weight: 800;
  color: var(--black);
  font-size: 3.125em;
  line-height: 120%;
  text-align: center;
  margin-bottom: 0;
}

h2{
  font-weight: 600;
  color: var(--black);
  font-size: 1.25em;
  text-align: center;
}

h3{
  font-weight: 600;
  font-size: 1.25em;
  color: var(--black);
  margin-left: 25px;
}
ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
ul li{
  list-style-type: none;
}

li img:hover{
  filter: brightness(0) saturate(100%) invert(21%) sepia(98%) saturate(1739%) hue-rotate(205deg) brightness(105%) contrast(98%);
}

nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--grey);
  box-shadow: 0px -3px 8px -4px rgba(0, 0, 0, 0.1);
  z-index: 99;
  display: flex;
}

.action_button{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button a{
  text-decoration: none;
  color: var(--grey);

}
.button{
  width: 280px;
  height: 85px;
  background: var(--blue);
  border-radius: 20px;
  color: var(--grey);
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px;
}

.button:hover{
  background: none;
  color: var(--black);
  filter: brightness(0) saturate(100%) invert(21%) sepia(98%) saturate(1739%) hue-rotate(205deg) brightness(105%) contrast(98%);
  box-shadow: inset 0px 0px 0px 2px;
}

.social_bar{
  display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}
.icon:hover{
  filter: brightness(0) saturate(100%) invert(21%) sepia(62%) saturate(3379%) hue-rotate(212deg) brightness(94%) contrast(94%);
}

#divider{
  height: 5px;
  background: var(--black);
  width: 65%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

#no_mobile{
  display: none;
}

.hard_skill::-webkit-scrollbar{
  display:none;
}
.hard_skill{
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 5px 0 10px 0;
  filter:  drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.15));
}
.card{
  flex: 0 0 auto;
  padding-right: 30px;
}
.card:first-child{
  padding-left: 25px;
}

/* .soft_skill{
  background: var(--blue);
  color: var(--grey);
  line-height: 40px;
  text-align: center;
  margin: 25px;
    border-radius: 40px;
}
.soft_skill p:first-child{
  padding-top: 30px;
}

.soft_skill p:last-child{
  padding-bottom: 30px;
} */
.soft_skill{
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--grey);
  padding: 10px 0 10px 0;

}

.skill{
  position: relative;
  background: var(--blue);
  height: 15rem;
  width: 80%;
  overflow: hidden;
  filter:  drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.15));
  border-radius: 30px;
  display: flex;
  justify-content: center;
}
#creative{
  color: #e8e4e4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.slider_skill {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  z-index: 99;
}

.slider_softlink{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px 0 10px;
}

.slider_softlink:active{
  background-color: blue;
  display: inline-block;
  height: 10px;
  width: 10px;
}

.skill::before{
  /* content: url(../img/creative_icon.svg); */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.skill::after{
  content: "";
  position: absolute;
  bottom: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
  background: var(--grey);
  border-radius: 45%;
  animation: spin 10s ease-in-out infinite;
}

@keyframes spin {
  0%{
    transform: translateY(0) rotate(0deg);
  }
  50%{
    transform: translateY(-100%) rotate(500deg);
  }
  100%{
    transform: translateY(0) rotate(0deg);
  }
}


.portfolio_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider {
    width: 100%;
    max-width: 500px;
    height: 400px;
    position: relative;
}

.slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
}

.slider_nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slider_navlink{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px 0 10px;
}

.slider_navlink:active{
  background-color: blue;
  display: inline-block;
  height: 10px;
  width: 10px;
}

.slides::-webkit-scrollbar{
  display:none;
}

.slide_img{
  width: 100%;
  height: 100%;
}
footer{
  width: 100%;
  height: 200px;
  background: var(--black);
}
